/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header_icons_block{
		text-align: center;
	}
	.probel{
		margin-top: 5px;
	}
	.banner_block{
		margin-top: 5px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.probel{
		margin-top: 5px;
	}
	.banner_block{
		margin-top: 5px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.header_icons_block{
		text-align: center;
	}	
	.probel{
		margin-top: 5px;
	}
	.banner_block{
		margin-top: 5px;
	}
	blockquote{
		font-size: 15px !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.header_icons_block{
		text-align: center;
	}	
	.probel{
		margin-top: 5px;
	}
	.banner_block{
		margin-top: 5px;
	}
	blockquote{
		font-size: 20px !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	blockquote{
		font-size: 20px !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}