header{
	border-bottom: 0px solid #ccc;
	height: 120px;
}
.border_cl{
	border: 1px solid #000;
	height: 10em;
}
.top_margin{
	margin-top: 20px;
}
.big_mpage_block{
	height: 15em;
}
.green_bg{
	background-color: #00897b;
}
.violet_bg{
	background-color: #283593;
}